/* BASIC ELEMENTS */


* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

#navbar{
    background: #f1e8ccbb ;
    width: 250px;
    height: 100vh;
    font-size: 1rem;
    position:fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
}

.navbar__container{
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}
.logo__container{
    width: 340px;
    top: 20%;
    left: 20%;
    cursor: pointer;
    position: absolute;
}



.navbar__menu {
    list-style: none;
    margin: 50px 20px;
    
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color:#221a0a ;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}



.navbar__links:hover{
    color: #be6b1c;
    text-decoration: underline;
    transition: all 0.3s ease;
}

#nav-icon{
    width: 40px;
    height: 40px;
    background: #33200e;
    text-align: center;
    position: fixed;
    right: 30px;
    top:30px;
    border-radius: 210px;
    z-index: 3;
    cursor: pointer;
    -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

#nav-icon img{
    width: 25px;
    margin-top: 9px;
}

@-webkit-keyframes glowing {
    0% { background-color: #532405; -webkit-box-shadow: 0 0 3px #532405; }
    50% {  -webkit-box-shadow: 0 0 15px #ddcabd  }
    100% { background-color: #532405; -webkit-box-shadow: 0 0 3px #532405; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #532405; -moz-box-shadow: 0 0 3px #532405; }
    50% {  -moz-box-shadow: 0 0 15px #ddcabd }
    100% { background-color: #532405; -moz-box-shadow: 0 0 3px #532405; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #532405; box-shadow: 0 0 3px #532405; }
    50% { box-shadow: 0 0 15px #ddcabd }
    100% { background-color: #532405; box-shadow: 0 0 3px #532405; }
  }
  
  @keyframes glowing {
    0% { background-color: #532405; box-shadow: 0 0 3px #532405; }
    50% {  box-shadow: 0 0 15px #ddcabd }
    100% { background-color: #532405; box-shadow: 0 0 3px #532405; }
  }

/*Modal/ Popups*/

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: rgba(223, 188, 159, 0.966);
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #423939;
    margin: 20px 40px;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    
  }
  
  .btn {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 700;
    background-color: rgb(59, 43, 21);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    margin: 40px;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  .hidden {
    display: none;
  }
  @media screen and (max-width:770px){
    .modal {
        width: 80%;
        min-height: 250px;
        left: 5%;
    }
    .btn-open {
        position: absolute;
        bottom: 20px;
      }
      .navbar__item{
        height: 50px;
    }
  }
  

/*  Hero  Page  */


.main{
    background: #ffffff;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-image: linear-gradient(to top left, rgba(27, 23, 23, 0.199), rgba(173, 128, 96, 0.705)),
    url('../images/hero-2.JPG');
    z-index: 4;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.main__content{
    padding-left: 40px;
    width: 100%;
}


.main__content h2{
    font-size: 6rem;
    background-size: 100%;
    color: #f3dbc7;
}

.main__content p{
    margin-top: 1rem;
    font-size:  2rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
.main__btn {
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #494848ee 0%,  #251a13 100%);
    padding: 16px 38px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
    margin-top: 25px;
    font-weight: bold;
}

.main__btn a {
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #db9b60;
    transition: all ease 0.5s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #000000;
}

.main__btn:hover:after {
    width:100%;
}

.main__img--container {
    text-align: center;
    z-index: 0;
}
.main__img--container img {
    width: fit-content;
    height: 100vh;
}

#main__img{
    height: 80%;
    width:80%;
}


@media screen and (max-width:770px){
    .main__content h2{
        font-size: 2rem;
        background-size: 100%;
        color: #d6b27c;
    }
    .logo__container{
        width: 450px;
        left: 10%;
    }
    
}

@media screen and (max-width:1024px){
    .main__content h2{
        font-size: 2rem;
        background-size: 100%;
        color: #d6b27c;
    }
    .logo__container{
        width: 150px;
        left: 10%;
    }
    
}

/*Features*/

#feature{
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    margin: auto;
    font-size: 18px;
    color: #8d3905;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#3f2207, #fcfcfc);
    position: absolute;
    top:-20px;
    left:0;
    z-index: -1;
    transform: rotate(-10deg);
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}

.feature__box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width:70%;
    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom:10px;
    font-weight:100;
    color: #251a13;
}

.features-desc
{
    display: flex;
    align-items: center;
    margin-bottom:40px ;
}

.feature-icon .fa{
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    border-radius: 8px;
    color: #3f2207;
    border: 1px solid #3f2207;
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width:770px){
    .features h1{
        font-size: 35;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width:100%;
    }
}

/*Services*/

.services{
    width: 100%;
    padding: 70px 0;
    background: #dad5c4d0;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis:48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img {
    width:100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #41332b);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}

hr{
    background:#fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width:770px){
    .services{
        margin-top: 20px;
    }
    .single-service{
        flex-basis: 100%;
        margin-bottom: 40px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
}

/*Testimonials*/

.testimonials{
    width: 100%;
    padding: 70px 0;
}
/*---Our Brands----*/
.our__brands{
    width: 100%;
    padding: 70px 0;
}

.branding-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.branding-col{
    flex-basis: 45%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #3f22076b;
    cursor: pointer;
}
.branding-col p{
    font-size: 14px;
    transition: transform .5s;
} 

.logo__brand{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.logo__brand img{
    width: 60px;
    margin-right: 20px;
    border-radius: 3px ;
}

.logo__name .fa{
    margin-left: 10px;
    color: #532405;
    font-size: 20px;
}

.logo__name small a{
    color: #532405;
    text-decoration: none;
}

.branding-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width:770px){
    .branding-col{
        flex-basis: 100%;
    }
}
/*Our Team*/

.our__team{
    background: #dad5c4d0;
    width: 100%;
    padding: 70px 0;
}

.our__team-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.our__team-desc{
    flex-basis: 50%;
    margin: auto;
}
.our__team-desc h1{
    margin-top: 40px;
    text-align: left;
}
.our__team-desc p{
    text-align: left;
}
.our__team-img{
    flex-basis: 50%;
}

.our__team-img img{
    width:70%;
    border-radius: 10px;
}

@media screen and (max-width:770px){
    .our__team-box h1{
        font-size: 35;
    }
    .our__team-desc {
        flex-basis: 100%;
        margin-bottom: 40px;
    }
    .our__team-img{
        flex-basis: 100%;
    }
    .our__team-img img{
        width:100%;
    }
}

/*Footer*/
.footer{
    padding: 100px 0 20px;
    background: #85705fc2;
    position: relative;
}

.footer .title-text{
    color: white;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-row p{
    margin:  10px 0;
    line-height: 35px;
}

.footer-row h1{
    margin:  10px 0;
    
}

.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: #e9caae;
    margin: 10px;
}

.footer-img{
    max-width: 370px;
    opacity: 0.15;
    position: absolute;
    left: 15%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.social-links{
    text-align: center;
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #e9caae;
    border: #e9caae solid 1px;
    cursor: pointer;
    transition:.5s;
}

.social-links .fa:hover{
    border: #000000 solid 1px;
    color: #000000;
    transform: translateY(-7px);
}

.footer__bottom {
    background-color: #000000;
    text-align: center;
    
    color: white;
}

.footer__bottom .container a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #be6b1c;
    padding: 15px;
}

@media screen and (max-width:770px){
    .footer-img{
        opacity: 0;
    }
    .social-links .fa{
        
        font-size: 20px;
        line-height: 40px;
        margin: 20px;
        color: #e9caae;
        border: #e9caae solid 1px;
        cursor: pointer;
        transition:.5s;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 12px;
    }
    .footer-left .fa, .footer-right .fa{
        font-size: 20px;
        color: #e9caae;
        margin: 5px;
    }
}